<header
  class="flex justify-between items-center h-16 px-4 bg-white shadow-sm fixed w-full z-50"
>
  <div class="flex gap-2 items-center">
    <img src="assets/images/logo.svg" alt="Logo" class="h-8" />
    <div class="text-xl font-bold text-gray-800">SWIFT CRAFT</div>
  </div>
  <div class="flex gap-3 pr-10">
    <div class="relative flex items-center w-52">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-3 w-4 h-4 text-gray-400"
        viewBox="0 0 24 24"
        stroke="currentColor"
        fill="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="11" cy="11" r="8" />
        <line x1="21" y1="21" x2="16.65" y2="16.65" />
      </svg>
      <input
        type="text"
        placeholder="Search"
        class="w-full border border-gray-300 bg-gray-100 rounded-lg px-10 py-1 text-gray focus:outline-none focus:border-blue-500"
      />
    </div>

    <div class="relative">
      <div
        class="h-8 w-8 bg-gray-100 rounded shadow flex items-center justify-center"
      >
        <img src="assets/images/Bell.svg" alt="bell" />
      </div>
    </div>
  </div>
</header>
