<div class="bg-white p-4 rounded shadow">
  <div class="flex items-center justify-between mb-3">
    <div class="flex items-center gap-2">
      <img [src]="icon" alt="icon" class="p-2 bg-gray-100 rounded-md" />
      <h2 class="text-sm font-semibold text-gray-500">{{ title }}</h2>
    </div>
    <img src="assets/images/jam_info.svg" alt="info" />
  </div>
  <div class="flex items-center gap-4">
    <p class="text-2xl font-bold">{{ value }}</p>
    <p
      [class]="
        trendStyle +
        'text-sm font-medium px-2 py-0.5 rounded-lg flex items-center gap-2'
      "
    >
      {{ percentage }}
      <span> <img [src]="trend" alt="trend" class="w-4 h-4" /> </span>
      <i class="fas fa-arrow-up"></i>
    </p>
  </div>
</div>
